@media (min-width: 250px) and (max-width:700px) {
    @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=New+Tegomin&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
    @import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css");
    * {
        margin: 0;
        padding: 0;
        list-style: none;
        text-decoration: none;
    }
     :root {
        --font-primary: "Montserrat", serif;
        --font-secundary: "Roboto", serif;
        --font-action: "Josefin", serif;
    }
    body {
        font-size: 8px;
    }
    footer {
        width: 100vw;
        height: 2.9rem;
        overflow: hidden;
        background-color: #2a334aa8;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .footer-content {
        width: 80%;
        display: flex;
        justify-content: space-between;
    }
    .footer-content p {
        font-family: var(--font-secundary);
        color: #fff;
        font-size: 0.6rem;
        left: 0;
    }
    .social-list a {
        flex-direction: column;
        margin: 0 0.8rem 0;
        font-size: 1.2rem;
    }
    .social-list ul {
        display: flex;
    }
    i.fab.fa-whatsapp {
        color: #4CCB5A;
    }
    i.fab.fa-github {
        color: #302F2F;
    }
    i.fab.fa-facebook {
        color: #1670E7;
    }
    #link-topo {
        display: none;
    }
}