/*!HEADER*/

@media (min-width: 10px) and (max-width:700px) {
    @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=New+Tegomin&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
    @import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css");
    * {
        margin: 0;
        padding: 0;
    }
     :root {
        --font-primary: "Montserrat", serif;
        --font-secundary: "Roboto", serif;
        --font-action: "Josefin", serif;
    }
    body {
        font-size: 8px;
    }
    header {
        width: 100vw;
        height: 100vh;
        overflow: hidden;
        position: relative;
    }
    .img-wrapper {
        width: 100%;
        height: 100%;
        overflow: hidden;
        background-color: rgba(0, 0, 0, 0.7);
    }
    .img-wrapper img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        opacity: 0.3;
        /*animation: zoom 15s infinite alternate;
        -webkit-animation: zoom 15s infinite alternate;*/
    }
    .banner {
        position: absolute;
        top: 45%;
        left: 9%;
    }
    .banner h1 {
        color: #fff;
        font-size: 1.6rem;
        font-family: var(--font-primary);
        font-weight: 200;
        text-shadow: .2rem .2rem .5px rgba(0, 0, 0, .4);
        margin-bottom: 1.5rem;
        opacity: 0;
        animation: subir_info 1.4s 0.5s forwards;
        -webkit-animation: subir_info 1.4s 0.5s forwards;
    }
    .titulo {
        width: 80%;
    }
    .banner p {
        font-family: var(--font-secundary);
        font-size: 1.2rem;
        color: #fff;
        text-shadow: .1rem .1rem rgba(0, 0, 0, .6);
        font-weight: 350;
        margin-bottom: 1.4em;
        opacity: 0;
        animation: subir_info 1.4s 0.7s forwards;
        -webkit-animation: subir_info 1.4s 0.7s forwards;
    }
    .banner button {
        font-family: var(--font-action);
        color: #fff;
        opacity: 0;
        background: #536976;
        /*fallbackforoldbrowsers*/
        background: -webkit-linear-gradient(to right, #536976, #292E49);
        /*Chrome10-25,Safari5.1-6*/
        background: linear-gradient(to right, #536976, #292E49);
        /*W3C,IE10+/Edge,Firefox16+,Chrome26+,Opera12+,Safari7+*/
        padding: 0.6rem 1.5rem;
        border: none;
        font-size: .9rem;
        text-transform: uppercase;
        letter-spacing: .1rem;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
        cursor: pointer;
        animation: subir_info 1.4s 0.9s forwards;
        -webkit-animation: subir_info 1.4s 0.9s forwards;
    }
    @keyframes subir_info {
        0% {
            opacity: 0;
            transform: translateY(10rem) rotateY(-30deg);
            -webkit-transform: translateY(10rem) rotateY(-30deg);
            -moz-transform: translateY(10rem) rotateY(-30deg);
            -ms-transform: translateY(10rem) rotateY(-30deg);
            -o-transform: translateY(10rem) rotateY(-30deg);
        }
        100% {
            opacity: 1;
            transform: translateY(0) rotateY(0deg);
            -webkit-transform: translateY(0) rotateY();
            -moz-transform: translateY(0) rotateY();
            -ms-transform: translateY(0) rotateY();
            -o-transform: translateY(0) rotateY();
        }
    }
}


/*!CONHECIMENTOS*/

@media (min-width: 10px) and (max-width: 700px) {
    @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=New+Tegomin&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
    @import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css");
    * {
        margin: 0;
        padding: 0;
        list-style: none;
        text-decoration: none;
    }
     :root {
        --font-primary: "Montserrat", serif;
        --font-secundary: "Roboto", serif;
        --font-action: "Josefin", serif;
    }
    body {
        font-size: 8px;
    }
    .sessao-conhecimento {
        background-color: #e2e2e2;
        margin-bottom: 0.1rem;
        width: 100vw;
        height: 100vh;
        overflow: hidden;
    }
    .sessao-header {
        display: flex;
        justify-content: flex-start;
    }
    .sessao-header h1 {
        align-items: left;
        font-family: var(--font-primary);
        font-size: 350%;
        color: rgb(56, 55, 55);
        border-bottom: 4px solid #4E6270;
        margin-top: 0.5rem;
    }
    .sessao-conhecimentos {
        background-color: #f8f8f8;
        opacity: 0.8;
    }
    .conhecimentos {
        display: flex;
        flex-direction: column;
    }
    .conhecimento-header {
        display: flex;
        text-align: center;
        color: rgb(56, 55, 55);
        margin-top: 0.4rem;
    }
    .conhecimento-header i {
        font-size: 1rem;
    }
    .conhecimento-header h3 {
        font-family: var(--font-secundary);
        font-size: 1.1rem;
        padding-left: 1rem;
        align-items: center;
        margin-bottom: 0.3rem;
    }
    .conhecimento-text {
        width: 98%;
        font-family: var(--font-secundary);
        margin-bottom: 0.4rem;
        font-size: 0.9rem;
    }
    .conhecimento-img-wrapper img {
        display: none;
    }
}


/*!PROJETOS*/

@media (min-width: 10px) and (max-width: 700px) {
    @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=New+Tegomin&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
    @import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css");
    * {
        margin: 0;
        padding: 0;
        list-style: none;
        text-decoration: none;
    }
     :root {
        --font-primary: "Montserrat", serif;
        --font-secundary: "Roboto", serif;
        --font-action: "Josefin", serif;
    }
    body {
        font-size: 8px;
    }
    .sessao-projetos {
        background-color: #e2e2e2;
        width: 100vw;
        height: 98vh;
        overflow: hidden;
    }
    .sessao-header.s {
        margin-bottom: 3rem;
    }
    .projetos {
        position: relative;
        top: -10px;
        height: 83vh;
        width: 100%;
        flex-direction: column;
    }
    .card {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0.3rem auto;
        width: 100%;
        height: 25vh;
    }
    .card-img-wrapper {
        width: 98%;
        max-height: 28vh;
        background-color: rgba(12, 12, 12, 0.89);
        border-radius: .6rem;
        /*z-index: 1;*/
    }
    */ .card-img-wrapper img {
        object-fit: cover;
        width: 98%;
        height: 28vh;
        border-radius: .6rem;
        -webkit-border-radius: .6rem;
        -moz-border-radius: .6rem;
        -ms-border-radius: .6rem;
        -o-border-radius: .6rem;
        opacity: .4;
    }
    .card-info {
        visibility: visible;
        position: absolute;
        top: 0;
        padding: 0;
        font-weight: 500;
        opacity: 1;
        text-align: justify;
    }
    .card-info h2 {
        top: 0;
        text-align: center;
        font-family: var(--font-primary);
        font-size: 1.3rem;
        margin-bottom: 0.2rem;
        font-weight: 500;
        color: #000;
    }
    .card-info h3 {
        display: block;
        margin-bottom: 0.3rem;
        margin-left: 0.4rem;
        font-family: var(--font-secundary);
        font-weight: 700;
        font-size: 1.2rem;
        color: red;
    }
    .card-info p {
        color: rgb(235, 230, 230);
        width: 100%;
        font-family: var(--font-secundary);
        /*font-weight: 400;*/
        word-spacing: 0.3rem;
        font-size: 0.8rem;
        position: relative;
        text-align: center;
    }
    .btn {
        width: 100%;
        position: absolute;
        /*top: 2.6rem;*/
        bottom: -1.7rem;
        background: #536976;
        /*fallbackforoldbrowsers*/
        background: -webkit-linear-gradient(to right, #536976, #292E49);
        /*Chrome10-25,Safari5.1-6*/
        background: linear-gradient(to right, #536976, #292E49);
        /*W3C,IE10+/Edge,Firefox16+,Chrome26+,Opera12+,Safari7+*/
        font-family: var(--font-action);
        font-size: 1rem;
        color: white;
        border: none;
        border-radius: .6rem;
        -webkit-border-radius: .6rem;
        -moz-border-radius: .6rem;
        -ms-border-radius: .6rem;
        -o-border-radius: .6rem;
        text-transform: uppercase;
        padding: 2px;
    }
}


/*!CONTATO*/

@media (min-width: 10px) and (max-width:700px) {
    @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=New+Tegomin&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
    @import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css");
    * {
        margin: 0;
        padding: 0;
    }
     :root {
        --font-primary: "Montserrat", serif;
        --font-secundary: "Roboto", serif;
        --font-action: "Josefin", serif;
    }
    body {
        font-size: 8px;
    }
    .sessao-contato {
        z-index: 1;
        margin-top: 0.2rem;
        width: 100vw;
        height: 100vh;
        overflow: hidden;
        background-color: #e2e2e2;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        border-bottom: 2px solid red;
    }
    .sessao-contato h1 {
        position: absolute;
        top: 1.8rem;
        text-align: left;
        font-family: var(--font-primary);
        font-size: 2rem;
        color: #000;
        font-weight: lighter;
        text-shadow: 1px 1px 1px #ccc;
    }
    .contato-wrapper {
        width: 85vw;
        height: 32rem;
        display: flex;
        box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2);
    }
    .contato-left {
        visibility: hidden;
    }
    .contato-right {
        width: 98%;
        background: linear-gradient(rgba(78, 99, 113, 0.4), rgba(40, 50, 76, 0.9)), url(../img/contato1.2.jpg);
        background-size: cover;
        border-radius: 3%;
        -webkit-border-radius: 3%;
        -moz-border-radius: 3%;
        -ms-border-radius: 3%;
        -o-border-radius: 3%;
    }
    .sessao-contato form {
        top: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .field {
        background: transparent;
        border: none;
        width: 15rem;
        font-size: 1.2rem;
        font-family: var(--font-secundary);
        border-bottom: 2px #ccc dashed;
        height: 3rem;
        outline: none;
        margin: 1.4rem 0;
    }
    .input-group textarea {
        padding-top: 1rem;
        max-width: 27rem;
        max-height: 5rem;
    }
    .input-group {
        position: relative;
    }
    .field-label {
        position: absolute;
        left: 0;
        font-size: 1.1rem;
        font-family: var(--font-secundary);
        text-transform: uppercase;
        transition: all 0.6s;
        -webkit-transition: all 0.6s;
        -moz-transition: all 0.6s;
        -ms-transition: all 0.6s;
        -o-transition: all 0.6s;
    }
    .field:focus {
        border-bottom: solid 1px;
    }
    form {
        position: relative;
    }
    .btn-submit {
        position: absolute;
        bottom: -2rem;
        width: 45%;
        height: 1.8rem;
    }
}


/*!ORÇAMENTOS*/

@media (min-width: 10px) and (max-width:700px) {
    @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=New+Tegomin&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
    @import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css");
    * {
        margin: 0;
        padding: 0;
    }
     :root {
        --font-primary: "Montserrat", serif;
        --font-secundary: "Roboto", serif;
        --font-action: "Josefin", serif;
    }
    body {
        font-size: 8px;
    }
    .sessao-orcamento {
        width: 100vw;
        height: 100vh;
        overflow: hidden;
        background: url(../img/bg-orcamento.jpg);
        object-fit: cover;
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: 2px solid red;
    }
    .orcamento-wrapper {
        width: 95%;
        height: 75vh;
        background-color: rgba(100, 100, 100, 0.8);
        border-radius: 5%;
        -webkit-border-radius: 5%;
        -moz-border-radius: 5%;
        -ms-border-radius: 5%;
        -o-border-radius: 5%;
        box-shadow: 0.2rem 0.3rem 0.4rem rgba(0, 0, 0, 0.3);
        position: relative;
    }
    .sessao-orcamento h1 {
        position: absolute;
        top: -4rem;
        left: 5.2%;
        width: 60%;
        border-radius: 5%;
        background: #536976;
        /*fallbackforoldbrowsers*/
        background: -webkit-linear-gradient(to right, #536976, #292E49);
        /*Chrome10-25,Safari5.1-6*/
        background: linear-gradient(to right, #536976, #292E49);
        /*W3C,IE10+/Edge,Firefox16+,Chrome26+,Opera12+,Safari7+*/
        padding: 0 3rem;
        color: #fff;
        font-family: var(--font-primary);
        font-size: 1.9rem;
        font-weight: lighter;
        box-shadow: 0.2rem 0.3rem 0.4rem rgba(0, 0, 0, 0.3);
        -webkit-border-radius: 5%;
        -moz-border-radius: 5%;
        -ms-border-radius: 5%;
        -o-border-radius: 5%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .sessao-orcamento form {
        margin: 5rem 2rem;
        display: flex;
        flex-direction: column;
        position: relative;
        line-height: 2rem;
        justify-content: center;
        align-items: left;
        /*grid-template-columns: auto 1fr;
        column-gap: 2.5rem;
        row-gap: 1.8rem;*/
    }
    .sessao-orcamento label {
        font-family: var(--font-secundary);
        font-size: 1.3rem;
        font-weight: lighter;
        color: #fff;
        padding: inherit;
        left: 0;
    }
    .sessao-orcamento input[type="number"] {
        font-family: var(--font-secundary);
        width: 2rem;
        font-size: 0.8rem;
        outline: none;
        border: none;
        border-radius: 8%;
        -webkit-border-radius: 8%;
        -moz-border-radius: 8%;
        -ms-border-radius: 8%;
        -o-border-radius: 8%;
        padding: 0.3rem;
        position: absolute;
        top: 0.5rem;
        right: 2rem;
    }
    .sessao-orcamento input[type="radio"] {
        position: absolute;
        top: 8.7rem;
        right: 2rem;
    }
    .sessao-orcamento input[type="range"] {
        width: 80%;
    }
    .sessao-orcamento input[type="checkbox"] {
        position: absolute;
        top: 2.5rem;
        right: 2rem;
    }
    .btn-orcamento {
        font-size: 0.7rem;
        padding: 0.8rem;
        bottom: -4rem;
    }
    #layout-sim {
        position: absolute;
        top: 6.7rem;
        right: 2rem;
    }
}


/*!FOOTER*/

@media (min-width: 10px) and (max-width:700px) {
    @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=New+Tegomin&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
    @import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css");
    * {
        margin: 0;
        padding: 0;
        list-style: none;
        text-decoration: none;
    }
     :root {
        --font-primary: "Montserrat", serif;
        --font-secundary: "Roboto", serif;
        --font-action: "Josefin", serif;
    }
    body {
        font-size: 8px;
    }
    footer {
        width: 100vw;
        height: 2.9rem;
        overflow: hidden;
        background-color: #2a334aa8;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .footer-content {
        width: 80%;
        display: flex;
        justify-content: space-between;
    }
    .footer-content p {
        font-family: var(--font-secundary);
        color: #fff;
        font-size: 0.6rem;
        left: 0;
    }
    .social-list a {
        flex-direction: column;
        margin: 0 0.8rem 0;
        font-size: 1.2rem;
    }
    .social-list ul {
        display: flex;
    }
    i.fab.fa-whatsapp {
        color: #4CCB5A;
    }
    i.fab.fa-github {
        color: #302F2F;
    }
    i.fab.fa-facebook {
        color: #1670E7;
    }
    #link-topo {
        display: none;
    }
}


/*!NAVEGAÇAO DO MENU*/

@media (min-width: 10px) and (max-width:700px) {
    @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=New+Tegomin&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
    @import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css");
    * {
        margin: 0;
        padding: 0;
        list-style: none;
        text-decoration: none;
    }
     :root {
        --font-primary: "Montserrat", serif;
        --font-secundary: "Roboto", serif;
        --font-action: "Josefin", serif;
    }
    body {
        font-size: 8px;
    }
    .hamburguer {
        width: 2rem;
        height: 2rem;
        z-index: 50000;
        right: 2rem;
        top: 3rem;
        position: fixed;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        cursor: pointer;
        transition: all 1.7s;
        -webkit-transition: all 1.7s;
        -moz-transition: all 1.7s;
        -ms-transition: all 1.7s;
        -o-transition: all 1.7s;
        position: fixed;
    }
    .abrir-menu .hamburguer {
        right: 78%;
        transition: all 1.7s;
        -webkit-transition: all 1.7s;
        -moz-transition: all 1.7s;
        -ms-transition: all 1.7s;
        -o-transition: all 1.7s;
    }
    .hamburguer span {
        font-size: 1.2rem;
        letter-spacing: 0.2rem;
        position: absolute;
        left: 3rem;
        height: 2rem;
        width: 5.8rem;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgb(32, 32, 187);
        color: #fff;
        font-family: var(--font-action);
        visibility: hidden;
    }
    .hamburguer span::before {
        content: "";
        position: absolute;
        border-right: .5rem solid rgb(32, 32, 187);
        border-left: .5rem solid transparent;
        border-top: .5rem solid transparent;
        border-bottom: .5rem solid transparent;
        left: -1rem;
    }
    .abrir-menu .hamburguer:hover span {
        visibility: visible;
    }
    .line {
        width: 100%;
        height: .1rem;
        background-color: #fff;
        box-shadow: 0.1rem 0.1rem 0.8px;
        transition: all 1.6s;
        -webkit-transition: all 1.6s;
        -moz-transition: all 1.6s;
        -ms-transition: all 1.6s;
        -o-transition: all 1.6s;
    }
    .abrir-menu #line1 {
        transform: rotate(45deg) translate(.3rem, .5rem);
        -webkit-transform: rotate(45deg) translate(.3rem, .5rem);
        -moz-transform: rotate(45deg) translate(.3rem, .5rem);
        -ms-transform: rotate(45deg) translate(.3rem, .5rem);
        -o-transform: rotate(45deg) translate(.3rem, .5rem);
    }
    .abrir-menu #line2 {
        opacity: 0;
        visibility: hidden;
    }
    .abrir-menu #line3 {
        transform: rotate(-45deg) translate(.3rem, -.4rem);
        -webkit-transform: rotate(-45deg) translate(.3rem, -.4rem);
        -moz-transform: rotate(-45deg) translate(.3rem, -.4rem);
        -ms-transform: rotate(-45deg) translate(.3rem, -.4rem);
        -o-transform: rotate(-45deg) translate(.3rem, -.4rem);
    }
    .side-bar {
        z-index: 1000;
        width: 20rem;
        height: 100vh;
        background-color: rgb(0, 0, 0);
        position: fixed;
        top: 0;
        right: -21rem;
        opacity: 1;
        transition: all 1.8s;
        -webkit-transition: all 1.8s;
        -moz-transition: all 1.8s;
        -ms-transition: all 1.8s;
        -o-transition: all 1.8s;
    }
    .abrir-menu .side-bar {
        color: #fff;
        right: .4rem;
        transition: 1.8s;
        -webkit-transition: 1.8s;
        -moz-transition: 1.8s;
        -ms-transition: 1.8s;
        -o-transition: 1.8s;
    }
    .abrir-menu.container .backdrop {
        opacity: .8;
        background-color: rgba(5, 5, 5, 0.89);
        transition: opacity 1s;
        -webkit-transition: opacity 1s;
        -moz-transition: opacity 1s;
        -ms-transition: opacity 1s;
        -o-transition: opacity 1s;
        position: fixed;
        width: 100%;
        height: 100vh;
        z-index: 998;
        left: 0;
        right: 0;
        top: 0;
    }
    .container .backdrop {
        opacity: .0;
    }
    .abrir-menu .menu {
        position: absolute;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
    }
    .menu-item {
        text-align: center;
        margin-bottom: .5rem;
    }
    .menu-link {
        font-family: var(--font-action);
        color: rgb(252, 252, 252);
        font-size: 2rem;
        letter-spacing: .1rem;
        transition: color 1s;
        -webkit-transition: color 1s;
        -moz-transition: color 1s;
        -ms-transition: color 1s;
        -o-transition: color 1s;
        z-index: 50000;
    }
    .menu-link:hover {
        color: #fff;
    }
    .social-media {
        position: absolute;
        bottom: 2rem;
        width: 100%;
        display: flex;
        justify-content: space-around;
    }
    .social-media i {
        width: 5rem;
        height: 5rem;
        font-size: 2.6rem;
        justify-content: center;
        text-align: center;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
    }
    i.fab.fa-whatsapp-square {
        color: #4CCB5A;
    }
    i.fab.fa-github-square {
        color: #302F2F;
    }
    i.fab.fa-facebook-square {
        color: #1670E7;
    }
    .social-media i:hover {
        color: #fff;
        font-size: 3.7rem;
        transition: font-size 1s;
        -webkit-transition: font-size 1s;
        -moz-transition: font-size 1s;
        -ms-transition: font-size 1s;
        -o-transition: font-size 1s;
    }
}